@{
    ViewBag.Title = "Telephone Management System";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> The Telephone Management System is used for managing telephone allocation to users.</p>
