@{
    ViewBag.Title = "Telephone Management System";
}

<h3>@ViewBag.Message</h3>

<address>
    DXC Technology<br />
    Newcastle, UK <br />
    <abbr title="Phone">P:</abbr>
    0191 2796552
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@DXC.COM">Support@DXC.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@DXC.COM">Marketing@DXC.com</a>
</address>