
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1 align="center">Telephone Management System</h1>
    <p></p>
    <p></p>
    <h2 align="center">"Emergency Calls should not be made over Skype"</h2>
    <br><br />
    <h6 align="center">Get started by clicking on the above links </h6>
</div>

<div class="row">
    <div class="col-md-4" align="center">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>